main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label,form legend {
    display:block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px;
}

.enviar {
    width:40%;
    padding: 15px 0;
    background: #FFA500;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;    /*1s background: aumenta em 1 segundo na  transição do elemento com o all em todos os elementos */
    cursor: pointer;
}

.enviar:hover {
    background: #FF8C00;
    transform:scale(1.2); /*aumenta em 20% o tamanho do elemento */
    /*transform: scale(1.2) rotate(70deg); rotaciona e aumenta em 20% o tamanho do elemento, deg significa graus */
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: #FFFFFF;
    font-weight: bold;
}

.tabela-horarios td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px) {
    #header .caixa, main {
        width: auto;      
    }

    .caixa h1 {
        text-align: center;

    }
    .caixa nav {
        position: static;
    }
    
    form {
        margin: 40px 1.5em;
    }
    
    .input-padrao {
        margin-top:5px;
        padding: 10px 25%;
    }
     table {
        width: 90%;
        margin-left: 20px;
    } 

    .enviar{
        width: 100%;
        margin: 0 0 25px  0;
    }

    select {
        width: 100%;
        padding: 15px;
    }

    form fieldset > legend {
        padding-top: 25px;

    }

    .checkbox {
        margin: 20px 0 20px 0;
    }

}