.menu-navegacao{
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFD41C;
    overflow-x: hidden;
    border-radius: .5rem;
}
.menu-navegacao img {
    width: 12em;
    margin: 25px 2.5px 50px 0 ;
}

.menu-navegacao a{
    color:#382B09 ;
    font-family: 'Nunito Sans', sans-serif;
    font-weight:700;
    padding: 16px;
    text-decoration: none;
    display: block; 
    
}

.menu-navegacao a:hover {
background-color: #877f6b34;
color: #877f6b;
}

main {
    margin-left: 200px;
    color:#382B09 ;
    font-family: 'Nunito Sans', sans-serif;
    background: linear-gradient #F1F4F7 ,hsl(0, 0%, 100%);
}

main h1{
    color:#38322B ;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;;

}

h1 > img {
width: 15%;
margin-right: 3.5em;

}

.produtos {
    display: flex;
    justify-content: center;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 25%;
    margin: 20px 0 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #382B09;
    border-radius: 10px;
}

.produtos li:hover{
    border-color: #C78C19;
    
}

.produtos li:active{
    border-color: #877f6b;
}

.produtos h2 {
    font-size: 29.5px;
    font-weight: bold;
    color:#38322B;
}

.produtos li:hover h2{
    font-size: 32.5px;
}

.produtos img {
    width: 170px;
    height: 235px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.produto-descricao {
    font-size: 18px;
}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    position: absolute;
    top: 40em;
    text-align: center;
    float:left;
    width:100%;
    height: 200px;
    background:url(../img/footer.png) repeat-x top center;
    opacity: 0.98;
  }

  